body {
    margin: 0;
}

/* hr {width: 60%;margin-left: auto;margin-right: auto;} */

#card {
    width: 500px;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: #1F2937;
    color: #FFFFFF;
    padding: 50px;
}

#generatepwd {
    padding-top: 5%;
    font-weight: 800px;
    font-size: 40px;
}

#pwd {
    color: #4ADF86;
}

#paragraph {
    margin-top: -5%;
    color: #D5D4D8;
    font-size: 22px;
}

#passwordEl {
    color: #FFFFFF;
    background: #10B981;
    padding: 15px;
    margin-top: 7%;
    border: none;
    border-radius: 6px;
    box-shadow: #4ADF86;
    font-size: 18px;
    font-weight: 400px;
}

hr {
    color: #2F3E53;
    margin-top: 8%;
    border: 1px solid #2F3E53;
}

#randomPWD {
    color: #55F991;
    background: #273549;
    font-weight: 500px;
    padding: 15px;
    border: none;
    margin-top: 8%;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    font-size: 18px;

}



/* #randomPWD2 {
    display: flex;
    flex-direction: column;
    color: #55F991;
    background: #273549;
    font-weight: 500px;
    padding: 15px;
    border: none;
    margin-top: 8%;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
    font-size: 18px;

} */